a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: var(--primary-color);
  background-color: var(--font-color);
  border-radius: $border-radius;
  text-align: center;
  padding: 5px 1em 5px 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: black;
    color: white;
  }
}
