a.markdown-btn {
  font-size: inherit;
  font-family: inherit;
  color: primary_light;
  background-color: primary_light;
  border-radius: 4px;
  text-align: center;
  padding: 5px 1em 5px 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: none;
    background-color: primary_light;
    color: primary_light;
  }
}
